.memo {
	border: 1px solid #999;
	box-sizing: border-box;
    width: 250px;
	height: 250px;
	padding: 5px;
    overflow: hidden;
}

.memo .title {
    font-weight: bold;
}

.mainGrid {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 200px;
}

.memoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 10px;
}

.formBlock {
    padding: 5px;
    font-size: 16px;
}

.formBlock input {
    width: 100%;
}

.formBlock textarea {
    width: 100%;
    min-width: 300px;
    min-height: 100px;
}